<div class='ground'>
  <div class='cloth-desk'>
    <div class='center'>
      <h2 class='heading'><%= t('.title') %></h2>
    </div>
    <div class='center'>
      <p><%= t('.greeting_message') %></p>
    </div>
    <div class='center'>
      <%= link_to t('.timeline_introduction'), cards_path, class:'btn-green' %>
    </div>
    <div class='center'>
      <%= link_to t('.sign_in'), user_session_path, class:'btn-gray' %>
      <%= link_to t('.sign_up'), new_user_registration_path, class:'btn-gray' %>
    </div>
  </div>
</div>