<div class="ground">
  <div class="cloth-desk">
    <h1 class="heading"><%= t('.title') %></h1>
    <div class="center">
      <%= render "shared/error_messages", object: @profile %>
    </div>
    <div class="center">
      <%= form_with model: @profile, url: profile_path, method: :put do |f| %>
        <div class="field">
          <%= f.label :nickname, class: "title" %><br />
          <%= f.text_field :nickname, class: "text-field" %>
        </div>
        <div class="actions">
          <%= f.submit class: "btn-green" %>
        </div>
      <% end %>
    </div>
  </div>
</div>