<div class='ground'>
  <div class='cloth-desk'>
    <div class='center'>
      <h2 class='heading'><%= t('.title') %></h2>
    </div>
    <div class='center'>
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    <div class='center'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"text-field" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="actions">
          <%= f.submit t('helpers.submit.update'), class: "btn-green" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

