<div class="ground">
  <div class="cloth-desk">
    <div class="center">
      <h2 class="heading"><%= t('.title') %></h2>
    </div>
    <div class="slit"></br></div>
    <div class="center">
      <p class="text-center"><%= t('.question') %></p>
      <p class="text-center"><%= t('.suggestion') %></p>
    </div>
    <div class="center">
      <%= link_to "Back", :back, class: "btn-green" %>
    </div>
  </div>
  <div class="slit"></br></div>
  <div class="cloth-desk">
    <div class="center">
      <p><%= t('.check') %></p>
    </div>
    <div class="center">
      <%= link_to t('helpers.submit.cancel_account'),  account_exit_path, method: :delete, data: {turbo_method: :delete, turbo_confirm: t('defaults.flash_message.question.final_check', action: t('helpers.delete')) }, class: "btn-gray" %></div>
    </div>
  </div>
</div>