<div>
  <div>
    <h3><%= card.title %></h3>
    <p><%= card.user.profile.nickname %></p>
    <% if current_user.own?(card) %>
        <div class="kebab-menu">
          <button class="menu-btn">☰</button>
        <div class="menu-content">
          <%= link_to '削除', card_path(card), id: "card-delete-#{card.id}", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
        </div>
      </div>
    <% end %> 
  </div>
  <div>
    <p><%= card.message %></p>
  </div>
  <div>
    <p>聴いてみる？</p>
    <%= link_to card.musics.first.link, card.musics.first.link %>
  </div>
  </div>