<div class='desk'>
  <div class='center'>
    <div class='text-center'>
      <h2><%= t('.greeting', email: @resource.email) %></h2>

      <p><%= t('.message') %></p>

      <%= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token), class: "btn-green" %>

      <p><%= t('.info') %></p>

      <p><%= t('.wish') %></p>

      <h2 class='mark'>SYN_on</h2>
    </div>
  </div>
</div>